@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-menu-color: #433f35cc;
  --title-color: red;
  scroll-behavior: smooth;
  font-family: "Crimson Text", serif;
}
